* {
  margin: 0;
}
.nav {
  background-color: #f8f8ec !important;
}
.nav__brand {
  font-weight: 900;
  color: #2343ea;
}
.nav__items {
  font-weight: 700;
  padding-right: 30px;
}
.home__row1 {
  padding: 25px 0;
  margin-top: 10px;
  background-color: #cbd1ee;
  margin-bottom: 50px;
}
.home__pic {
  object-fit: contain;
  text-align: right;
}
.Home__row1__left {
  display: flex;
  text-align: center;
  line-height: 10px;
}
.Home__row1__left-part1 {
  padding-left: 20px;
}
.Home__row1__left-part2 h3 {
  padding-bottom: 20px;
  font-weight: 800;
  color: #4b64e8;
}
.Home__row1__left-part2 p {
  font-weight: 500;
}
.Home__row1__right h3 {
  padding-bottom: 20px;
  margin-left: 50px;
  font-weight: 500;
}
.Home__row1__right__cards {
  display: flex;
  justify-content: space-between;
}
.Home__row1__right-card {
  width: 150px;
  background-color: #c4ccf5 !important;
}
.home__cards {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.home__cards__each {
  width: 120px;
}
.home__input {
  display: flex;
  justify-content: space-around;
}
.home__chart {
  width: 90%;
  height: 100%;
}
.table {
  overflow: scroll;
  color: #6a5d5d;
  background-color: white;
  height: 600px;
}
.table h3 {
  text-align: center;
}
table {
  margin: 25px 50px;
  width: 90%;
}

table td {
  padding: 0.5rem;
  border: none;
}
.home__row3 {
  margin: 50px 25px;
}
table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table__newcases {
  color: orange;
}
.table__newrecovered {
  color: green;
}
.table__newdeaths {
  color: red;
}
.footer {
  color: white;
  background-color: #a3a9c7;
}
.footer li {
  color: rgb(53, 53, 73);
}
@media (max-width: 990px) {
  .Home__row1__left {
    line-height: normal;
  }
  .Home__row1__right {
    display: none;
  }
  .home__chart {
    margin-top: 20px;
    height: inherit;
  }
}
